.navbar {
  font-size: x-large;
  width: 100%;
  height: 15%;
}

.nav-brand {
  padding: 10px;
  font-size: x-large;
  float: left;
}

.nav-link {
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #948f8f;
}

li {
  display: inline;
  float: right;
}
