.swiperSlideDiv {
  position: relative;
  width: 100%;
  height: 100%;
}

.swiperSlideText {
  color: #ffffff;
  position: absolute;
  top: 70px;
  left: 0;
  font-weight: 600;
  max-width: 90%;
  font-size: 1.25rem;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0.5rem;
}

.swiperImg {
  width: 100%;
  height: 100%;
}
